#footer-container, #contact-container, #archive-container, #project-container, #about-container, #pseudo-ide-container {
  text-align: left;
  font-family: Menlo, Consolas, DejaVu Sans Mono, sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
}

#footer-container, #contact-container, #archive-container, #project-container, #about-container, #landing-container {
  padding: 5rem 2.5rem;
}

#contact-header, #archive-header, #project-header, #about-header {
  display: inline-block;
  width: auto;
  height: auto;
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  border-bottom: 5px solid #1d1f21;
}

:root {
  font-size: 18px;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #3b3b3b;
  background-color: #1d1f21;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------------------------- NAVBAR -------------------------------- */
#navbar {
  z-index: 30;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.4rem;
  text-align: right;
  background-color: #e9ece7;
  -webkit-user-select: none;
  user-select: none;
}

#navbar-placeholder {
  z-index: 10;
  position: relative;
  top: 0;
  width: 100%;
  height: 3.4rem;
  background-color: yellow;
}

#nav-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5rem;
  width: auto;
  height: auto;
}

.nav-icon {
  position: relative;
  top: 0;
  left: 0;
  padding-right: 1.25rem;
  color: #1d1f21;
  font-size: 1.4rem;
  cursor: pointer;
}

#nav-logo-container {
  z-index: -10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}

#nav-logo {
  display: inline-block;
  z-index: 10;
  position: relative;
  width: auto;
  height: auto;
  font-family: Menlo, Consolas, DejaVu Sans Mono, sans-serif;
  font-size: 1.8rem;
  color: #1d1f21;
  cursor: pointer;
}

#nav-link-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  width: auto;
  font-family: Menlo, Consolas, DejaVu Sans Mono, sans-serif;
  font-size: 1rem;
  color: #1d1f21;
}

.nav-link {
  display: inline-block;
  width: auto;
  margin-left: 1.25rem;
  cursor: pointer;
}

/* --------------------------- LANDING SECTION --------------------------- */
#landing-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 10;
  position: relative;
  height: auto;
  text-align: right;
  background-color: #3b3b3b;
}

#landing-container:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1.15);
  background-image: url("../images/computer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100px 0;
  opacity: 0.15;
}

#pseudo-ide-container {
  grid-column: span 3;
  position: relative;
  height: 13rem;
  background-color: #1d1f21;
  border-radius: 8px;
  overflow: hidden;
}

#ide-option-bar {
  width: 100%;
  height: 1.2rem;
  background-color: #f6f6f6;
  border-radius: 8px 8px 0px 0px;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.3);
}

#ide-button-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
}

.ide-option-button {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

#ide-gutter-container {
  position: absolute;
  left: 1.25rem;
  padding-top: 0.675rem;
  color: #4f5256;
}

.ide-gutter-no {
  padding-bottom: 0.675rem;
}

#gutter-no-6 {
  display: none;
}

#gutter-no-7 {
  display: none;
}

#gutter-no-8 {
  display: none;
}

#ide-main-container {
  padding-top: 0.675rem;
  padding-left: 2.5rem;
  line-height: 2.15rem;
}

.ide-text {
  position: relative;
  top: -0.35rem;
  margin-right: 1.25rem;
  color: #e0e0e0;
}

#ide-text-cursor {
  position: relative;
  top: -0.05rem;
  left: -0.5rem;
  font-weight: 200;
  color: #e0e0e0;
}

#ide-ln-comment {
  color: #969896;
}

#ide-ln-blank-1 {
  color: #1d1f21;
}

#ide-ln-blank-2 {
  color: #1d1f21;
}

/* ---------------------------- ABOUT SECTION ---------------------------- */
#about-container {
  z-index: 10;
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #e0e0e0;
}

#about-text {
  font-size: 1rem;
}

/* --------------------------- PROJECT SECTION --------------------------- */
#project-container {
  z-index: 20;
  position: relative;
  text-align: center;
  background-color: #beb8af;
}

#project-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  position: relative;
}

.project-thumbnail {
  grid-column: span 1;
  height: 20rem;
}

#pro-thumb-1 {
  border: 1px dashed black;
}

#pro-thumb-2 {
  background-image: url("../images/mockup-vert.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#pro-thumb-3 {
  background-image: url("../images/mockup-recipe-book.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#pro-thumb-4 {
  border: 1px dashed black;
}

/* --------------------------- ARCHIVE SECTION --------------------------- */
#archive-container {
  z-index: 20;
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #e0e0e0;
}

#archive-container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
}

.archive-thumbnail {
  height: 250px;
  height: 7.5rem;
  grid-column: span 3;
  border: 1px solid #1d1f21;
}

#arc-thumb-1 {
  background-color: #1d1f21;
  background-size: cover;
  background-position: center top;
}

#arc-thumb-2 {
  background-color: #1d1f21;
  background-size: cover;
  background-position: center;
}

#arc-thumb-3 {
  background-color: #1d1f21;
  background-size: cover;
  background-position: center top;
}

#arc-thumb-4 {
  background-color: #1d1f21;
  background-size: cover;
  background-position: center;
}

/* --------------------------- CONTACT SECTION --------------------------- */
#contact-container {
  z-index: 10;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #3b3b3b;
  /* border: 1px solid yellow; */
}

#contact-container:after {
  content: "";
  z-index: -10;
  background-image: url("../images/coffee.png");
  /* background-repeat: no-repeat;
  background-position: right top;
  background-position: 50% 0px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -180px 0;
  transform: scale(1.15);
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#contact-header {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

#contact-spacer {
  width: 600px;
  height: 87px;
  background-color: #1d1f21;
  visibility: hidden;
}

/* -------------------------------- FOOTER -------------------------------- */
#footer-container {
  z-index: 10;
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #969896;
  background-color: #1d1f21;
}

#copyright-footer {
  font-size: 0.6rem;
  margin-bottom: 20px;
}

#footer-icon-container {
  position: relative;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: auto;
  /* border: 1px dashed white; */
}

.footer-icon {
  /* position: relative;
  top: 0;
  left: 0; */
  color: #969896;
  font-size: 1rem;
  cursor: pointer;
}

/* ------------------------- MEDIA QUERY <= 1200 ------------------------- */
/* @media screen and (max-width: 1200px) {
  :root {
    font-size: 24px;
  }
} */
/* ------------------------- MEDIA QUERY <= 1050 ------------------------- */
@media screen and (max-width: 1050px) {
  :root {
    font-size: 16px;
  }

  .ide-gutter-no {
    padding-bottom: 0.625rem;
  }

  #ide-text-cursor {
    top: -0.1rem;
  }
}
/* -------------------------- MEDIA QUERY <= 935 -------------------------- */
@media screen and (max-width: 935px) {
  #nav-link-list {
    display: none;
  }

  #pseudo-ide-container {
    grid-column: span 4;
  }

  .project-thumbnail {
    grid-column: span 2;
  }

  #archive-container-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .archive-thumbnail {
    grid-column: span 2;
  }
}
/* -------------------------- MEDIA QUERY <= 685 -------------------------- */
@media screen and (max-width: 685px) {
  #pseudo-ide-container {
    height: 15rem;
  }

  #gutter-no-6 {
    display: block;
  }
}
/* -------------------------- MEDIA QUERY <= 492 -------------------------- */
@media screen and (max-width: 492px) {
  #pseudo-ide-container {
    height: 17rem;
  }

  #gutter-no-7 {
    display: block;
  }
}
/* -------------------------- MEDIA QUERY <= 432 -------------------------- */
@media screen and (max-width: 432px) {
  #pseudo-ide-container {
    height: 19rem;
  }

  #gutter-no-8 {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
