@import "helpers/variables";
@import "helpers/colors";
@import "helpers/placeholder-classes";

:root {
  font-size: 18px;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  cursor: default;
}

body {
  background-color: $background-theme;
  background-color: $black;

  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



/* -------------------------------- NAVBAR -------------------------------- */
#navbar {
  z-index: 30;
  position: fixed;
  top: 0;

  width: 100%;
  height: 5rem;

  text-align: right;
  background-color: rgba(233, 236, 231, 1.0);

  -webkit-user-select: none;
  user-select: none;
}

#navbar-placeholder {
  z-index: 10;
  position: relative;
  top: 0;

  width: 100%;
  height: 5rem;

  background-color: yellow;
}

#nav-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $section-padding-lg;

  width: auto;
  height: auto;
}

.nav-icon {
  font-size: $font-size-lg;
  color: $black;

  cursor: pointer;
}

.nav-icon-inner {
  display: inline-block;

  margin-right: $section-padding-md;
}

#nav-logo-container {
  z-index: -10;
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0; */

  position: relative;

  width: 12rem;
  height: 100%;
  margin: auto;

  text-align: center;

  //border: 1px dashed red;

  display: flex;
  //justify-content: center;
  align-items: center;
}

#nav-icon {
  display: flex;
  align-items: center;

  position: absolute;
  left: 0;

  width: 4.5rem;
  height: 4.5rem;
  margin: auto;

  background-color: #beb8af;
  border: 1px solid $black;
  border-radius: 100%;
}

#nav-logo {
  // display: inline-block;

  z-index: 10;
  position: absolute;
  right: 0;

  width: auto;
  height: auto;

  font-family: $font-stack-ide;
  font-size: $font-size-logo;
  text-align: left;
  color: $black;

  //border: 1px dashed yellow;

  // cursor: pointer;
}

#nav-link-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $section-padding-lg;

  width: auto;

  font-family: $font-stack-main;
  font-size: $font-size-md;
  font-weight: 400;
  color: $black;
}

.nav-link {
  display: inline-block;

  width: auto;
  margin-left: $section-padding-md;

  cursor: pointer;
}



/* --------------------------- LANDING SECTION --------------------------- */
#landing-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  z-index: 10;
  position: relative;

  height: auto;
  @extend %section-container-padding;

  text-align: right;

  background-color: $background-theme;
}

#landing-container:after {
  content: "";

  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url("../images/computer.png");
  background-size: cover;
  background-position: 100px 0;
  background-repeat: no-repeat;

  opacity: 0.15;
  transform: scale(1.15);
}

#pseudo-ide-container {
  grid-column: span 3;

  position: relative;

  height: 13rem;

  @extend %code-editor-font-style;

  background-color: $black;
  border-radius: 8px;

  overflow: hidden;
}

#ide-option-bar {
  width: 100%;
  height: 1.2rem;

  background-color: rgba(246, 246, 246, 1.0);
  border-radius: 8px 8px 0px 0px;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.3);
}

#ide-button-container {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-left: $section-padding-xs;
}

.ide-option-button {
  display: inline-block;

  width: 0.8rem;
  height: 0.8rem;
  margin-right: $section-padding-xs;

  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

#ide-container-inner {
  position: relative;
  top: 0.35rem;

  line-height: 2.15rem;
}

#ide-gutter-container {
  position: absolute;
  left: 1.25rem;

  color: $mixed-gray;
}

#gutter-no-6 {
  display: none;
}

#gutter-no-7 {
  display: none;
}

#gutter-no-8 {
  display: none;
}

#ide-main-container {
  padding-left: 2.5rem;
}

.ide-text {
  position: relative;

  margin-right: 1.25rem;

  color: $white;
}

#ide-text-cursor {
  position: relative;
  top: -0.05rem;
  left: -$section-padding-xs;

  color: $white;
}

#ide-ln-comment {
  color: $gray;
}

#ide-ln-blank-1 {
  color: $black;
}

#ide-ln-blank-2 {
  color: $black;
}



/* ---------------------------- ABOUT SECTION ---------------------------- */
#about-container {
  z-index: 10;
  position: relative;

  height: auto;
  width: 100%;
  @extend %section-container-padding;

  text-align: center;

  background-color: $white;
}

#about-header {
  @extend %section-header;
}

#about-text {
  font-family: $font-stack-main;
  font-size: $font-size-sm;
  font-weight: 300;
}



/* --------------------------- PROJECT SECTION --------------------------- */
#project-container {
  z-index: 20;
  position: relative;

  @extend %section-container-padding;

  text-align: center;

  background-color: #beb8af;
}

#project-header {
  @extend %section-header;
}

#project-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-column-gap: $section-padding-sm;
  grid-row-gap: $section-padding-sm;

  position: relative;

  //border: 1px dashed red;
}

.project-thumbnail {
  grid-column: span 1;

  height: 20rem;

  //border: 1px dashed black;
}

#pro-thumb-1 {
  display: flex;
  align-items: center;

  order: 0;
}

#pro-thumb-2 {
  order: 1;

  //background-image: url("../images/mockup-blank-phone-left.png");
  background-image: url("../images/mockup-vert.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#pro-thumb-3 {
  order: 3;

  //background-image: url("../images/mockup-blank-phone-right.png");
  background-image: url("../images/mockup-recipe-book.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#pro-thumb-4 {
  order: 4;

  display: flex;
  align-items: center;
}

.inner-project-container{
  width: auto;

  //border: 1px dashed yellow;
}

.project-name {
  font-family: $font-stack-ide;
  font-size: $font-size-lg;
  font-weight: 300;

  //border: 1px dashed red;
}

.project-text-left {
  text-align: left;
}

.project-text-right {
  text-align: right;
}

.project-description {
  margin-bottom: $section-padding-md;

  font-family: $font-stack-main;
  font-size: $font-size-sm;
  font-weight: 300;
}

.pro-btn-container-left {
  display: flex;
  justify-content: flex-start;

  //border: 1px dashed red;
}

.pro-btn-container-right {
  display: flex;
  justify-content: flex-end;

  //border: 1px dashed red;
}

.project-button {
  @extend %section-button;
}

.pro-btn-left {
  margin-right: $section-padding-sm;
}

.pro-btn-right {
  margin-left: $section-padding-sm;
}



/* --------------------------- ARCHIVE SECTION --------------------------- */
#archive-container {
  z-index: 20;
  position: relative;

  height: auto;
  width: 100%;
  @extend %section-container-padding;

  text-align: center;

  background-color: $white;
}

#archive-header {
  @extend %section-header;
}

#archive-container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $section-padding-md;
  grid-row-gap: $section-padding-md;

  position: relative;
}

.archive-thumbnail {
  grid-column: span 1;

  height: 12rem;

  background-color: $black;
  background-size: cover;
  background-position: center;
  border: 1px solid $black;
}

#arc-thumb-1 {
  //background-image: url("../images/dg-putting-snap.png");
}

#arc-thumb-2 {
  //background-image: url("../images/calc-snap.png");
}

#arc-thumb-3 {
  //background-image: url("../images/dg-putting-snap.png");
}

#arc-thumb-4 {
  //background-image: url("../images/calc-snap.png");
}



/* --------------------------- CONTACT SECTION --------------------------- */
#contact-container {
  z-index: 10;
  position: relative;

  width: 100%;
  height: auto;

  @extend %section-container-padding;

  font-family: $font-stack-main;
  font-weight: 300;
  text-align: center;

  background-color: $background-theme;
}

#contact-container:after {
  content: "";

  z-index: -10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url("../images/coffee.png");
  background-size: cover;
  background-position: -180px 0;
  background-repeat: no-repeat;

  opacity: 0.15;
  transform: scale(1.15);
}

#contact-header {
  @extend %section-header;

  color: $white;

  border-color: $white;
}

#contact-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: $section-padding-md;
  grid-row-gap: $section-padding-sm;

  position: relative;
}

label, input, textarea {
  display: block;

  font-family: $font-stack-main;
  color: $black;
}

label {
  font-size: $font-size-lg;
  font-weight: 300;
  text-align: left;
  color: $white;
}

input {
  width: 100%;
  height: 2rem;
  padding: 0.35rem $section-padding-xs;
  margin-top: $section-padding-xs;

  font-size: $font-size-sm;
  font-weight: 400;

  background-color: $white;
  border: none;
  border: 1px solid black;

  cursor: text;
}

textarea {
  width: 100%;
  height: 11.95rem;
  padding: 0.35rem $section-padding-xs;
  margin-top: $section-padding-xs;

  font-size: $font-size-sm;
  font-weight: 400;

  background-color: $white;
  border: none;
  border: 1px solid black;

  resize: none;

  cursor: text;
}

#contact-info-container {
  grid-column: span 2;

  height: auto;
}

#name-input {
  margin-bottom: $section-padding-sm;
}

#contact-message-container {
  grid-column: span 3;

  height: auto;
}

#email-input {
  margin-bottom: $section-padding-sm;
}

#contact-submit-container {
  grid-column: span 5;

  height: auto;
  margin-top: $section-padding-lg;
}

#submit-button {
  position: relative;
  left: 0;
  right: 0;

  @extend %section-button;

  margin: auto;
}



/* -------------------------------- FOOTER -------------------------------- */
#footer-container {
  z-index: 10;
  position: relative;

  height: auto;
  width: 100%;

  padding-top: $section-padding-md;
  padding-bottom: $section-padding-md;

  font-family: $font-stack-main;
  text-align: center;
  color: $gray;

  background-color: $black;
}

#copyright-footer {
  margin-bottom: $section-padding-sm;

  font-size: $font-size-xs;
}

#footer-icon-container {
  position: relative;
  left: 0;
  right: 0;

  width: auto;
  height: auto;
  margin: auto;
}

.footer-icon {
  font-size: $font-size-lg;
  color: $gray;

  cursor: pointer;
}

.footer-icon-inner {
  display: inline-block;
}



/* ------------------------- MEDIA QUERY <= 1440 ------------------------- */
@media screen and (max-width: 1440px) {
  :root {
    font-size: 16px;
  }

  #ide-text-cursor {
    top: -0.1rem;
  }

  textarea {
    height: 11.85rem;
  }
}



/* -------------------------- MEDIA QUERY <= 935 -------------------------- */
@media screen and (max-width: 935px) {
  :root {
    font-size: 14px;
  }



  #nav-link-list {
    display: none;
  }

  #pseudo-ide-container {
    grid-column: span 4;
  }

  #project-container-grid {
    //grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .project-thumbnail {
    grid-column: span 2;
  }

  #pro-thumb-1 {
    align-items: flex-start;
    order: 1;

    height: auto;
    margin-bottom: $section-padding-xl;
  }

  #pro-thumb-2 {
    order: 0;

    margin-bottom: $section-padding-md;
  }

  #pro-thumb-3 {
    order: 3;

    margin-bottom: $section-padding-md;
  }

  #pro-thumb-4 {
    align-items: flex-start;
    order: 4;

    height: auto;
  }

  .project-text-left {
    text-align: center;
  }

  .project-text-right {
    text-align: center;
  }

  .pro-btn-container-left {
    justify-content: center;
  }

  .pro-btn-container-right {
    justify-content: center;
  }



  .archive-thumbnail {
    grid-column: span 2;
  }



  #contact-info-container {
    grid-column: span 5;
  }

  #contact-message-container {
    grid-column: span 5;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #pseudo-ide-container {
    height: 15rem;
  }

  #gutter-no-6 {
    display: block;
  }
}



/* -------------------------- MEDIA QUERY <= 431 -------------------------- */
@media screen and (max-width: 431px) {
  #pseudo-ide-container {
    height: 17rem;
  }

  #gutter-no-7 {
    display: block;
  }
}



/* -------------------------- MEDIA QUERY <= 379 -------------------------- */
@media screen and (max-width: 379px) {
  #pseudo-ide-container {
    height: 19rem;
  }

  #gutter-no-8 {
    display: block;
  }
}











#head {
  z-index: 10;
  position: relative;
  left: 0;
  right: 0;

  width: 60%;
  height: 85%;
  margin: auto;

  background-color: #ffe0bd;
  border: 1px solid black;
  border-radius: 100%;
}

#hair-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  margin: auto;

  border-top: 0.3rem solid #A56B46;
  border-radius: 100%;
  opacity: 0.5;
}

#hair-accent {
  position: absolute;
  top: -5%;
  left: 0;
  right: 0;

  width: 48%;
  height: 10%;
  margin: auto;

  background-color: #A56B46;
  border-radius: 100%;
}

#ear-left {
  position: absolute;
  top: 57%;
  left: -10%;
  transform: translateY(-50%);

  width: 15%;
  height: 20%;

  background-color: #ffe0bd;
  border-left: 1px solid black;
  border-radius: 100%;
}

#ear-right {
  position: absolute;
  top: 57%;
  right: -10%;
  transform: translateY(-50%);

  width: 15%;
  height: 20%;

  background-color: #ffe0bd;
  border-right: 1px solid black;
  border-radius: 100%;
}

#eye-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  width: 90%;
  height: 35%;
  margin: auto;
}

.lens {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  width: 80%;
  height: 60%;

  border: 1px solid black;
  border-top: 2px solid black;
  border-radius: 15%;

  /* border-top-left-radius: 25%;
  border-top-right-radius: 25%; */
}

.glasses {
  z-index: 10;
  position: absolute;
  top: 30%;

  width: 10%;
  height: 2px;

  background-color: black;
}

.glasses::before {
  content: "";

  z-index: 10;
  position: absolute;
  top: 0%;
  left: -520%;

  width: 80%;
  height: 100%;

  background-color: black;
}

.glasses::after {
  content: "";

  z-index: 10;
  position: absolute;
  top: 0%;
  right: -520%;

  width: 80%;
  height: 100%;

  background-color: black;
}

#lens-left {
  margin-right: 5%;
}

#lens-right {
  margin-left: 5%;
}

.eye {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 85%;
  height: 95%;

  background-color: white;
  border: 1px solid black;
  border-radius: 100%;

  overflow: hidden;
}

#eye-left::before {
  content: "";

  position: absolute;
  top: -2%;

  width: 40%;
  height: 10%;

  background-color: #A56B46;
  border-radius: 50% 50% 0 0;
}

#eye-right::before {
  content: "";

  position: absolute;
  top: -2%;

  width: 40%;
  height: 10%;

  background-color: #A56B46;
  border-radius: 50% 50% 0 0;
}

.iris {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0;

  width: 40%;
  height: 40%;

  // background-color: lightBlue;
  background-color: $black;
  border: 1px solid black;
  border-radius: 100%;

  transition: transform 200ms ease-in-out;
}

.pupil {
  width: 40%;
  height: 40%;

  background-color: black;
  border-radius: 100%;

  transition: transform 200ms ease-in-out;

  display: none;
}

#nose {
  position: absolute;
  left: 0;
  right: 0;
  top: 64%;

  width: 20%;
  height: 5%;
  margin: auto;

  background-color: #ffe0bd;
  border-bottom: 1px solid black;
  border-radius: 0 0 100% 100%;
}

#nose::before {
  content: "";

  position: absolute;
  left: -60%;
  right: 0;
  bottom: 0;

  width: 50%;
  height: 120%;
  margin: auto;

  background-color: #ffe0bd;
  border-left: 1px solid black;
  border-radius: 100%;

  transform: rotate(-50deg);
}

#nose::after {
  content: "";

  position: absolute;
  left: 0;
  right: -70%;
  bottom: 0;

  width: 50%;
  height: 120%;
  margin: auto;

  background-color: #ffe0bd;
  border-right: 1px solid black;
  border-radius: 100%;

  transform: rotate(45deg);
}

#stache {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24%;

  width: 50%;
  height: 5%;
  margin: auto;

  background-color: #A56B46;
  border-radius: 50% 50% 0 0;
}

#mouth {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14%;

  width: 40%;
  height: 10%;
  margin: auto;

  background-color: black;
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem;
}

#teeth {
  position: absolute;
  top: 0;

  width: 100%;
  height: 25%;

  background-color: white;

  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

#beard {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8%;

  width: 50%;
  height: 25%;
  margin: auto;

  background-color: #A56B46;
  border-radius: 0% 0% 50% 50%;
}

#beard::before {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  width: 90%;
  height: 40%;
  margin: auto;

  background-color: #ffe0bd;
  border-radius: 0% 0% 100px 100px;
}
