#pseudo-ide-container {
  font-family: "Oxygen Mono", Menlo, Consolas, monospace;
  font-size: 1.25rem;
  text-align: left;
}

#contact-inner, #archive-inner, #project-inner, #landing-inner {
  padding: 5rem 2.5rem;
}

#contact-header, #archive-header, #project-header, #about-header {
  display: inline-block;
  width: auto;
  height: auto;
  margin-bottom: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  border-bottom: 2px solid #1d1f21;
}

#submit-button, .project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1d1f21;
  background-color: #e0e0e0;
  border: 1px solid #1d1f21;
  border-radius: 0.4rem;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-size: 18px;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  border: 0;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1d1f21;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.nav-element-hovered {
  opacity: 0.2 !important;
}

.button-hovered {
  background-color: rgba(224, 224, 224, 0.5) !important;
}

/* -------------------------------- NAVBAR -------------------------------- */
#navbar-section {
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: #e9ece7;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(29, 31, 33, 0.2);
}

#navbar {
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  height: 5rem;
  text-align: right;
  background-color: #e9ece7;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(29, 31, 33, 0.2);
}

#social-link-list {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 2.5rem;
  width: auto;
  height: 100%;
}

.social-link {
  display: inline-block;
  margin-right: 1.5rem;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.social-link > a {
  cursor: pointer;
}

.social-link > a > i {
  font-size: 1.25rem;
  color: #1d1f21;
  cursor: pointer;
}

#nav-logo-container {
  display: flex;
  align-items: center;
  z-index: 50;
  position: relative;
  width: 12rem;
  height: 100%;
  margin: auto;
  text-align: center;
}

#nav-logo {
  position: absolute;
  right: 0;
  width: auto;
  height: auto;
  font-family: "Oxygen Mono", Menlo, Consolas, monospace;
  font-size: 1.75rem;
  font-weight: 300;
  text-align: left;
  color: #1d1f21;
}

#page-jump-link-list {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 2.5rem;
  width: auto;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #1d1f21;
}

.page-jump-link {
  display: inline-block;
  width: auto;
  margin-left: 1.25rem;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.page-jump-link > p {
  cursor: pointer;
}

#hamburger-menu {
  display: none;
}

#dropdown-navbar {
  display: none;
}

#dropdown-social-link-list {
  display: none;
}

/* ------------------------- MAIN BODY CONTAINER ------------------------- */
#main-body-container {
  position: relative;
  top: 5rem;
  transition: transform 300ms ease-in-out;
}

/* --------------------------- LANDING SECTION --------------------------- */
#landing-section {
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b3b3b;
  overflow: hidden;
}

#landing-section:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../images/computer.png");
  background-size: cover;
  background-position: 100px 0;
  background-repeat: no-repeat;
  opacity: 0.15;
  transform: scale(1.15);
}

#landing-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1440px;
  height: auto;
  text-align: right;
}

#pseudo-ide-container {
  grid-column: span 3;
  position: relative;
  height: 13rem;
  background-color: #1d1f21;
  border-radius: 8px;
  overflow: hidden;
}

#ide-option-bar {
  width: 100%;
  height: 1.2rem;
  background-color: #f6f6f6;
  border-radius: 8px 8px 0px 0px;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.3);
}

#ide-button-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
}

.ide-option-button {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

#ide-container-inner {
  position: relative;
  top: 0.35rem;
  line-height: 2.15rem;
}

#ide-gutter-container {
  position: absolute;
  left: 1.25rem;
  color: #4f5256;
  -webkit-user-select: none;
  user-select: none;
}

#gutter-no-6 {
  display: none;
}

#gutter-no-7 {
  display: none;
}

#gutter-no-8 {
  display: none;
}

#ide-main-container {
  padding-left: 2.5rem;
}

.ide-text {
  position: relative;
  margin-right: 1.25rem;
  color: #e0e0e0;
}

#ide-text-cursor {
  position: relative;
  top: -0.05rem;
  left: -0.5rem;
  color: #e0e0e0;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes cursor-blink-loop {
  0%, 49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
#ide-ln-comment {
  color: #969896;
}

#ide-ln-blank-1 {
  color: #1d1f21;
  -webkit-user-select: none;
  user-select: none;
}

#ide-ln-blank-2 {
  color: #1d1f21;
  -webkit-user-select: none;
  user-select: none;
}

/* ---------------------------- ABOUT SECTION ---------------------------- */
#about-section {
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

#about-inner {
  height: auto;
  width: 100%;
  max-width: 1440px;
  padding: 5rem 10rem;
  text-align: center;
}

.about-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

#about-text-bottom {
  margin-bottom: 0;
}

#about-icon-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin-top: 2.5rem;
  -webkit-user-select: none;
  user-select: none;
}

#about-icon-container-bottom {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 2.5rem;
  -webkit-user-select: none;
  user-select: none;
}

.icon-inner-container {
  display: grid;
  justify-content: center;
  grid-column: span 1;
  height: 3.25rem;
}

.about-icon {
  height: 3.25rem;
  font-size: 3.25rem;
  color: #b3b3b3;
}

/* --------------------------- PROJECT SECTION --------------------------- */
#project-section {
  z-index: 20;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #beb8af;
  overflow: hidden;
}

#project-inner {
  width: 100%;
  max-width: 1440px;
  text-align: center;
}

#project-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 5rem;
  position: relative;
}

.project-thumbnail {
  grid-column: span 1;
  display: flex;
  align-items: center;
  height: auto;
}

.project-image {
  width: 100%;
  height: auto;
  transition: filter 750ms ease-in-out;
  filter: blur(0.5rem);
  -webkit-user-select: none !important;
  user-select: none !important;
}

#drum-machine-info-thumb {
  order: 0;
}

#drum-machine-image-thumb {
  order: 1;
  justify-content: center;
}

#drop-date-image-thumb {
  order: 2;
  justify-content: center;
}

#drop-date-info-thumb {
  order: 3;
}

#recipe-book-info-thumb {
  order: 4;
}

#recipe-book-image-thumb {
  order: 5;
  justify-content: center;
}

#shortly-image-thumb {
  order: 6;
  justify-content: center;
}

#shortly-info-thumb {
  order: 7;
}

.inner-project-container {
  width: auto;
}

.project-name {
  font-family: "Oxygen Mono", Menlo, Consolas, monospace;
  font-size: 1.25rem;
  font-weight: 300;
}

.project-text-left {
  padding-right: 2.5rem;
  text-align: left;
}

.project-text-right {
  padding-left: 2.5rem;
  text-align: right;
}

.project-description {
  margin-bottom: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.project-description-link {
  color: #2779F6 !important;
  cursor: pointer;
}

.project-link-list-left {
  display: flex;
  justify-content: flex-start;
}

.project-link-list-right {
  display: flex;
  justify-content: flex-end;
}

.project-link-left {
  display: inline-block;
  margin-right: 0.75rem;
  border-radius: 0.4rem;
}

.project-link-right {
  display: inline-block;
  margin-left: 0.75rem;
  border-radius: 0.4rem;
}

.project-link {
  transition: background-color 300ms ease-in-out;
  outline: none;
}

/* --------------------------- ARCHIVE SECTION --------------------------- */
#archive-section {
  z-index: 20;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  overflow: hidden;
}

#archive-inner {
  height: auto;
  width: 100%;
  max-width: 1440px;
  text-align: center;
}

#archive-link-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

.archive-thumbnail {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.archive-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 1;
  transition: opacity 300ms ease-in-out, filter 750ms ease-in-out;
  filter: blur(0.5rem);
  -webkit-user-select: none;
  user-select: none;
}

.archive-link-hovered {
  opacity: 0.5;
}

.archive-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.archive-vid {
  display: none;
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* --------------------------- CONTACT SECTION --------------------------- */
#contact-section {
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b3b3b;
  overflow: hidden;
}

#contact-section:after {
  content: "";
  z-index: -10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../images/coffee.png");
  background-size: cover;
  background-position: -180px 0;
  background-repeat: no-repeat;
  opacity: 0.15;
  transform: scale(1.15);
}

#contact-inner {
  width: 100%;
  max-width: 1440px;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

#contact-header {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

#contact-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 0.75rem;
  position: relative;
}

label, input, textarea {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #1d1f21;
}

label {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: left;
  color: #e0e0e0;
}

input {
  width: 100%;
  height: 2rem;
  padding: 0.35rem 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #e0e0e0;
  border: none;
  border: 1px solid #1d1f21;
  cursor: text;
}

textarea {
  width: 100%;
  height: 11.95rem;
  padding: 0.35rem 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #e0e0e0;
  border: none;
  border: 1px solid #1d1f21;
  resize: none;
  cursor: text;
}

#contact-info-container {
  grid-column: span 2;
  height: auto;
}

#name-input {
  margin-bottom: 0.75rem;
}

#contact-message-container {
  grid-column: span 3;
  height: auto;
}

#email-input {
  margin-bottom: 0.75rem;
}

#contact-submit-container {
  grid-column: span 5;
  height: auto;
  margin-top: 2.5rem;
}

#submit-button {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  transition: background-color 300ms ease-in-out;
}

/* -------------------------------- FOOTER -------------------------------- */
#footer {
  z-index: 10;
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #969896;
  background-color: #1d1f21;
}

#footer-copyright {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

#footer-link-list {
  position: relative;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: auto;
}

#footer-link-list > li:nth-child(1) {
  margin-right: 0.2rem;
}

.footer-link {
  display: inline-block;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.footer-link-hovered {
  opacity: 0.5 !important;
}

.footer-link > a > i {
  font-size: 1.25rem;
  color: #969896;
  cursor: pointer;
}

/* -------------------------- MEDIA QUERY : HOVER -------------------------- */
@media (hover: hover) {
  .project-description-link:hover {
    text-decoration: underline !important;
  }
}
/* ------------------------- MEDIA QUERY <= 1440 ------------------------- */
@media screen and (max-width: 1440px) {
  :root {
    font-size: 16px;
  }

  #ide-text-cursor {
    top: -0.1rem;
  }

  textarea {
    height: 11.85rem;
  }
}
/* ------------------------- MEDIA QUERY <= 1200 ------------------------- */
@media screen and (max-width: 1200px) {
  .project-text-left {
    padding-right: 1.25rem;
  }

  .project-text-right {
    padding-left: 1.25rem;
  }

  #archive-link-list {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}
/* -------------------------- MEDIA QUERY <= 935 -------------------------- */
@media screen and (max-width: 935px) {
  :root {
    font-size: 14px;
  }

  #page-jump-link-list {
    display: none;
  }

  #hamburger-menu {
    display: block;
    z-index: 30;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    width: 25px;
    cursor: pointer;
  }

  .hamburger-bar {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #1d1f21;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 300ms ease-in-out, width 300ms ease-in-out, opacity 300ms ease-in-out;
  }

  #hamburger-bar-middle {
    left: 50%;
    transform: translateX(-50%);
    margin: 8px 0px;
  }

  .rotate-bar-top {
    transform: translateY(10px) rotate(45deg);
  }

  .hide-bar-middle {
    width: 0px !important;
    opacity: 0;
  }

  .rotate-bar-bottom {
    transform: translateY(-10px) rotate(-45deg);
  }

  #dropdown-navbar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    z-index: 30;
    position: fixed;
    top: 2.5rem;
    width: 100%;
    height: 2.5rem;
    background-color: #e9ece7;
    transition: transform 300ms ease-in-out;
  }

  .nav-drop-open {
    transform: translateY(2.5rem);
  }

  #dropdown-page-jump-link-list {
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }

  .dropdown-page-jump-link {
    grid-column: span 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #1d1f21;
    border-bottom: 1px solid rgba(29, 31, 33, 0.2);
    cursor: pointer;
  }

  .dropdown-page-jump-link > li {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
  }

  #dropdown-page-jump-link-middle {
    border-left: 1px solid rgba(29, 31, 33, 0.2);
    border-right: 1px solid rgba(29, 31, 33, 0.2);
  }

  #pseudo-ide-container {
    grid-column: span 4;
  }

  #about-inner {
    padding: 5rem 5rem;
  }

  #about-icon-container-bottom {
    margin-top: 1.25rem;
  }

  #project-container-grid {
    grid-row-gap: 0;
  }

  .project-thumbnail {
    grid-column: span 2;
  }

  #drum-machine-image-thumb {
    order: 0;
    margin-bottom: 1.25rem;
  }

  #drum-machine-info-thumb {
    align-items: flex-start;
    order: 1;
    height: auto;
    margin-bottom: 5rem;
  }

  #drop-date-image-thumb {
    order: 2;
    margin-bottom: 1.25rem;
  }

  #drop-date-info-thumb {
    align-items: flex-start;
    order: 3;
    height: auto;
    margin-bottom: 5rem;
  }

  #recipe-book-image-thumb {
    order: 4;
    margin-bottom: 1.25rem;
  }

  #recipe-book-info-thumb {
    align-items: flex-start;
    order: 5;
    height: auto;
    margin-bottom: 5rem;
  }

  #shortly-image-thumb {
    order: 6;
    margin-bottom: 1.25rem;
  }

  #shortly-info-thumb {
    align-items: flex-start;
    order: 7;
    height: auto;
  }

  .project-image {
    width: auto;
    height: 25rem;
  }

  .project-text-left {
    padding-right: 0;
    text-align: center;
  }

  .project-text-right {
    padding-left: 0;
    text-align: center;
  }

  .project-description {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .project-link-list-left {
    justify-content: center;
  }

  .project-link-list-right {
    justify-content: center;
  }

  #archive-link-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }

  #contact-section:after {
    top: auto;
    bottom: 0;
    height: 50%;
    background-position: -220px 0;
    transform: scale(1.15);
  }

  #contact-info-container {
    grid-column: span 5;
  }

  #contact-message-container {
    grid-column: span 5;
  }
}
/* -------------------------- MEDIA QUERY <= 700 -------------------------- */
@media screen and (max-width: 700px) {
  .project-image {
    height: 20rem;
  }
}
/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #social-link-list {
    display: none;
  }

  #nav-logo-container {
    position: absolute;
    left: 2.5rem;
  }

  #dropdown-navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  #dropdown-social-link-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 2;
  }

  .dropdown-social-link {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid rgba(29, 31, 33, 0.2);
    cursor: pointer;
  }

  .dropdown-social-link > li {
    font-size: 1.25rem;
    color: #1d1f21;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  .dropdown-social-link > li > i {
    cursor: pointer;
  }

  #dropdown-social-link-middle {
    border-left: 1px solid rgba(29, 31, 33, 0.2);
    border-right: 1px solid rgba(29, 31, 33, 0.2);
  }

  #dropdown-social-link-right {
    border-right: 1px solid rgba(29, 31, 33, 0.2);
  }

  #dropdown-page-jump-link-list {
    grid-column: span 3;
  }

  #pseudo-ide-container {
    height: 15rem;
  }

  #gutter-no-6 {
    display: block;
  }

  #about-inner {
    padding: 5rem 2.5rem;
  }

  .project-description {
    margin-left: 0;
    margin-right: 0;
  }

  #archive-link-list {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}
/* -------------------------- MEDIA QUERY <= 569 -------------------------- */
@media screen and (max-width: 569px) {
  #shortly-image-thumb {
    height: auto;
  }

  #recipe-book-image-thumb {
    height: auto;
  }

  .project-image {
    width: 100%;
    height: auto;
  }
}
/* -------------------------- MEDIA QUERY <= 450 -------------------------- */
@media screen and (max-width: 450px) {
  #archive-link-list {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2.5rem;
  }

  .archive-thumbnail {
    grid-column: span 1;
  }

  .archive-link {
    width: auto;
  }

  .archive-image, .archive-vid {
    width: auto;
    height: 10rem;
  }
}
/* -------------------------- MEDIA QUERY <= 431 -------------------------- */
@media screen and (max-width: 431px) {
  #landing-section:after {
    background-position: 50px 0;
  }

  #pseudo-ide-container {
    height: 17rem;
  }

  #gutter-no-7 {
    display: block;
  }
}
/* -------------------------- MEDIA QUERY <= 379 -------------------------- */
@media screen and (max-width: 379px) {
  #landing-section:after {
    background-position: 0 0;
  }

  #pseudo-ide-container {
    height: 19rem;
  }

  #gutter-no-8 {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
