// Colors

$background-gray: #3b3b3b;
$background-tan: #beb8af;

$black: #1d1f21;
$white: #e0e0e0;
$gray: #969896;
$dark-gray: #373b41;
$mixed-gray: mix($gray, $dark-gray, 25%);

$portrait-skin: #ffe0bd;
$portrait-hair: #A56B46;
