// Placeholder Classes

%code-editor-line {
  width: 100%;
  min-height: 35px;
}

%code-editor-font-style {
  text-align: left;
  font-family: Menlo, Consolas, DejaVu Sans Mono, sans-serif;
  font-size: 1.25rem;

  font-weight: 200;
}

%section-container-padding {
  padding: 5rem 2.5rem;
}
