// Variables

$font-stack-ide: "Oxygen Mono", Menlo, Consolas, monospace;
$font-stack-main: "Open Sans", sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 1.0rem;
$font-size-md: 1.1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-logo: 1.75rem;

$section-padding-xs: 0.75rem;
$section-padding-sm: 1.25rem;
$section-padding-md: 2.5rem;
$section-padding-lg: 5rem;
